:root{
  --main-color: rgb(3, 3, 54);
  --secondary-color:#2c4755;
}
*
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
  font-family: 'Dancing Script', cursive;
font-family: 'Reem Kufi Fun', sans-serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Work Sans', sans-serif;
}

.container
{
  margin:0px auto;
  padding: 0px 15px;
}  
@media (min-width: 768px) {
  .container{
    width: 750px;
  }  
}
@media (min-width : 992px)
{
  .container{
    width: 970px;
  }
}
@media (min-width :1200px)
{
  .container{
    width: 1170px;
  }
}
/* Header */
.header
{
  padding:20px;
}
.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .logo
{
  width: 60px;
}
.header .links 
{
  position: relative;
}
.header .links .icon
{
  width: 30px;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-end;
}
.header .links .icon span{
  background-color: rgb(12, 12, 96);
  margin-bottom: 5px;
  height: 3px;
  
}
.header .links .icon span:first-child{
 width: 100%;
} 
.header .links .icon span:nth-child(2)
{
 width: 60%;
 transition: 0.3s;
}
.header .links .icon span:last-child
{
  width: 100%;
} 
.header .links:hover .icon span:nth-child(2){
 width: 100%;
}
.header .links ul{
 list-style-type: none;
 margin: 0;
 background-color: #f6f6f6;
 position: absolute;
 padding: 0;
 right: 0;
 top:calc(100%+15px);
 min-width: 200px;
 display: none;
 z-index: 5;
}
.haeder .links ul::before{
  content:'';
  border-style: solid;
  border-color:transparent transparent #f6f6f6 transparent;
  border-width: 10px;
  right: 5px;
  top:-20px;
}
.header .links:hover ul{
  display: block;
}
.header .links ul li a{
  display: block;
  text-decoration: none;
  padding: 15px;
  color:#333;
  transition: 0.3s;
}
.header .links ul li a:hover{
  padding-left: 25px;
}
.header .links ul li:not(:last-child)
{
  border-bottom: 1px solid #ddd;
}
.landing
{
  background-image: url(../imgs/mountain.jpg);
  /* width: 80%; */
  margin: auto;
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}
.overlay
{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(221, 221, 221,0.5);
}
.intro-text
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  width: 320px;
  max-width: 100%;


}
.intro-text h1{
  font-size: 50px;
  color: var(--main-color);
  font-weight: 800;

}
.intro-text p{
  font-size: 19px;
  line-height: 1.8;
}
.feature
{
  padding: 60px 0px;
  background-color: #f6f6f6;
}
.feature .container
{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  color: var(--main-color);
  text-align: center;
 
}
.item-2
{
  margin: 0 5% ;
}
.feature .container .feature-item
{
 
  padding-top: 40px;
}
.feature .container .feature-item i{
  font-size: 40px;
  color: var(--secondary-color)
}
.feature .container .feature-item h3{
  color: var(--main-color);
  margin: 30px 0px;
  font-weight: 800;
  font-size: 30px;
}
.feature .container .feature-item p{
  line-height: 1.8;
  font-size: 19px;
}
@media (max-width:767px)
{
  .feature .container 
  {
    width:80%;
  } 
}
.special-heading
{
  color:#ebeced;
  text-align: center;
  font-size:70px ;
   margin: 0;
   letter-spacing: -3px;
   font-weight: 800;
}
.special-heading + p{
  text-align: center;
  color: var(--main-color);
  margin-top: -20px;
  font-size: 20px;
}
.services-content
{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  grid-gap:30px;
  margin-top: 100px;
}
.services-content i{
  color: var(--secondary-color);
  flex-basis: 60px;
} 
.services-content .srv{
  display: flex;
  margin-bottom: 40px;
}
.services-content .srv .text{
  flex: 1;
 
}
.services-content .srv .text h3
{
  color: var(--main-color);
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 20px;
}
.services-content .srv .text p{
  color: #444;
  font-weight:300 ;
  line-height: 1.8;
}
@media (max-width:767px)
{
  .services .services-content .srv{
    flex-direction: column;
    text-align: center;
  } 
  .container{
    width: 70%;
    padding: 0px 20px;
  }
  .special-heading{
    margin-left: 20px;
    font-size: 50px;
    margin-bottom: 5px; 
  }
  .special-heading + p{
    font-size: 15px;
    margin-left: 13px;
  }
}
.services-content .image
{
  position: relative;
  text-align: center;
}
.services .services-content .image::before{
  content:'';
  background-color: var(--secondary-color);
  height: calc(100% + 100px);
  width: 100px;
  z-index: -1;
  top:-50px;
  right:0;
  position: absolute;

}
.services .services-content img{
  width: 280px;
  height: 350px;
}
@media (max-width:1199px)
{
  .image{
    display:none;
  }
}
.portfolio
{
  padding-top: 60px ;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}
.portfolio .portfolio-content
{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  grid-gap: 30px;
  margin-top: 80px;
  
}
.portfolio .portfolio-item
{
  background-color: white;
} 
.portfolio .portfolio-item img{
  max-width: 100%;
}
.portfolio .info
{
  padding-left: 10px;
}
.portfolio .info h3{
  color: var(--main-color);
 
}
.portfolio .info p{
  color: #444;
  line-height:1.8;
}
.about
{
  padding-top: 60px ;
  padding-bottom: 120px;
}
.about .about-content
{
  display:flex;
  justify-content: space-between;
  margin-top: 100px;
  flex-wrap: wrap;
}
.about .about-content .about-img
{
  width: 250px;
  height: 375px;
  position: relative;
  margin-left: 100px;
}
.about .about-content .about-img::before{
  content:'';
  background-color: #ebeced;
  height: calc(100% + 100px);
  width: 100px;
  z-index: -1;
  top:-50px;
  left:-20px;
  position: absolute;
}
.about .about-content .about-img::after{
  content:'';
  height:300px;
  width: 120px;
  z-index: -1;
  border-left: 80px solid var(--secondary-color);
  border-bottom: 80px solid var(--secondary-color);
  top:-50px;
  right:-150px;
  position: absolute;
}
.about .about-img img{
  max-width: 100%;
}
.about .about-content .about-text{
  flex-basis: calc(100% - 500px);
  color:#777;
  line-height: 2;
}
.about .about-content .about-text p:first-of-type{
  font-weight: bold;
  margin-bottom: 50px;
  color: var(--secondary-color);
}
.about .about-content .about-text hr{
  display: inline-block;
  width: 50%;
  border-color: var(--main-color);
}
@media (max-width:991px) {
  .about-content{
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .about .about-content .about-img{
    margin: 0 auto 30px;

  }
  .about .about-content .about-img::after,
  .about .about-content .about-img::before
  {
    display: none;
  }
  
}
.contact {
  padding-top: 60px ;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}
.contact .info{
  padding-top: 60px ;
  padding-bottom: 60px;
  text-align: center;
}
.contact .info .label
{
  color: var(--main-color);
  font-size: 30px;
  font-weight: 800;
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .info .link{
  display: block;
  color: var(--secondary-color);
  font-size: 30px;
  font-weight: 800;
  text-decoration: none;
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .info .social
{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
}
.contact .info .social i{
  margin-left: 5px;
  color: var(--secondary-color);
}
@media (max-width:991px) 
{
  .contact .info .link , .contact .info .label{
    font-size: 24px;
  }
  .contact .info .social{
    font-size: 12px;
  }
}
.footer
{
  background-color: var(--secondary-color);
  color: #f6f6f6;
  padding: 30px;
  text-align: center;
  font-size: 18px;
}
.footer span{
  color:var(--main-color);
  margin-right: 5px;
  font-weight: bold;
}
html{
  scroll-behavior: smooth;
}